* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-pcf: #f1f3f4;
  --black-pcf: #000000;
  --white-pcf: #ffffff;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.card {
  background-color: var(--gray-pcf);
  color: var(--white-pcf) !important;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);
  transition: 0.5s;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 15%);
}

.textCard {
  /*  padding: 10px 0 14px 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 95%; */
}

.textCard h3 {
  /* font-size: 1.5em; */
}

.container-cards {
  /* max-width: 768px;
  width: 90%;
  margin-inline: auto; */
}

.grid {
  display: grid;
  /* gap: 25px; */
}

/* Cards Desktop */
@media (min-width: 768px) {
  .container-cards {
    max-width: 2000px;
    margin-inline: auto;
  }

  .grid {
    display: grid;
    /* gap: 10px; */
    grid-template-rows: 230px 230px;
    grid-template-columns: repeat(6, 1fr) 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .card {
    /* min-height: 200px; */
  }

  .imageCard img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: bottom;
  }

  #bigOne {
    grid-area: 1 / 1 / span 2 / span 3;
  }

  #bigTwo {
    grid-area: 1 / 4 / span 2 / span 3;
  }

  #smallOne {
    grid-area: 1 / 7 / span 1 / span 2;
  }
  #smallTwo {
    grid-area: 1 / 9 / span 1 / span 2;
  }

  #smallThree {
    grid-area: 2 / 7 / span 1 / span 2;
  }
  #smallFour {
    grid-area: 2 / 9 / span 1 / span 2;
  }
}
