* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-pcf: #f1f3f4;
  --black-pcf: #000000;
  --white-pcf: #ffffff;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.card {
  background-color: var(--gray-pcf);
  color: var(--white-pcf) !important;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);
  transition: 0.5s;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 15%);
}

.textCard {
  padding: 10px 0 14px 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
}

.textCard h3 {
  font-size: 1.5em;
}

.container-cards {
  max-width: 768px;
  width: 90%;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 25px;
}

/* Cards Desktop */
@media (min-width: 768px) {
  .container-cards {
    max-width: 1400px;
    margin-inline: auto;
  }

  .grid {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(9, 50px);
  }

  .card {
    min-height: 200px;
  }

  .card .imageCard img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    object-position: bottom;
  }

  #bigOne .imageCard img,
  #bigTwo .imageCard img {
    height: 380px;
  }

  #bigOne {
    grid-area: 1 / 1 / span 8 / span 4;
  }

  #bigTwo {
    grid-area: 1 / 5 / span 8 / span 4;
  }

  #smallOne {
    grid-area: 1 / 9 / span 4 / span 3;
  }
  #smallTwo {
    grid-area: 1 / 12 / span 4 / span 3;
  }

  #smallThree {
    grid-area: 5 / 9 / span 4 / span 3;
  }
  #smallFour {
    grid-area: 5 / 12 / span 4 / span 3;
  }
}
