* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-pcf: #f1f3f4;
  --black-pcf: #000000;
  --white-pcf: #ffffff;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.card {
  background-color: #141414;
  color: var(--white-pcf) !important;
  /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1); */
  transition: 0.5s;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 15%);
}

.textCard {
  padding: 1em 2em;
}

.textCard h3 {
  /* font-size: 1.5em; */
}

.grid {
  display: grid;
}

/* Cards Desktop */
@media (min-width: 768px) {
  .container-cards {
    max-width: 2000px;
    margin-inline: auto;
  }

  .grid {
    display: grid;
    /* gap: 10px; */
    grid-template-rows: 230px 230px;
    grid-template-columns: repeat(6, 1fr) 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .imageCard img {
    width: 100%;
    height: 130px;
    object-fit: cover;
  }

  .cards a {
    display: contents;
  }

  .imageCardBig {
    height: 75%;
  }

  .imageCardBig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    /* outline: 1px solid lime; */
  }

  #bigOne {
    grid-area: 1 / 1 / span 2 / span 3;
  }

  #bigTwo {
    grid-area: 1 / 4 / span 2 / span 3;
  }

  #smallOne {
    grid-area: 1 / 7 / span 1 / span 2;
  }
  #smallTwo {
    grid-area: 1 / 9 / span 1 / span 2;
  }

  #smallThree {
    grid-area: 2 / 7 / span 1 / span 2;
  }
  #smallFour {
    grid-area: 2 / 9 / span 1 / span 2;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }

  #bigOne {
    grid-area: 1 / 1 / span 2 / span 4;
  }

  #bigTwo {
    grid-area: 1 / 5 / span 2 / span 4;
  }

  #smallOne {
    grid-area: 4 / 1 / span 1 / span 2;
  }
  #smallTwo {
    grid-area: 4 / 3 / span 1 / span 2;
  }

  #smallThree {
    grid-area: 4 / 5 / span 1 / span 2;
  }
  #smallFour {
    grid-area: 4 / 7 / span 1 / span 2;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .cards {
    width: 95%;
    margin-inline: auto;
    gap: 25px;
  }

  .card {
  }

  .card img {
    width: 100%;
    height: 145px;
    object-fit: cover;
  }
}
